<%#部分テンプレート%>
<div class="chat-header">
  <div class="left-header">
    <div class="header-title">
      testroom1
    </div>
  </div>
  <div class="right-header">
    <div class="header-btn">
      <a href="#">チャットを終了する</a>
    </div>
  </div>
</div>

<div class="chat-main"> <%#メッセージ全体の表示欄%>

  <div class="message"><%#メッセージ表示欄%>
    <div class="upper-message"> <%#メッセージ欄上部の親要素%>
      <div class="message-user">
        Nakano
      </div>
      <div class="message-date">
        2020/9/20(Sun) 13:10:30
      </div>
    </div>
    <div class="lower-message"><%#メッセージ欄下部の親要素%>
      <div class="message-content">
        こんにちは
      </div>
    </div>
  </div>

  <div class="message">
    <div class="upper-message">
      <div class="message-user">
        NAKAMURA
      </div>
      <div class="message-date">
        2020/9/20(Sun) 13:15:20
      </div>
    </div>
    <div class="lower-message">
      <div class="message-content">
        どうも
      </div>
    </div>
  </div>

</div>

<div class="chat-footer">
  <div class="form-input">
    <input placeholder="type a message" class="message-box">
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
    <input type="submit" value="送信" class="send" >
</div>